* {
    margin: 0px;
    padding: 0px;
}
.box::before {
    content: "box::before"; /* must exist*/
    display: block;
    width: 50%;
    height: 100px;
    background-color: blue;

    border: 10px dashed #333;

    margin: 10px 20px;
}

.box::after {
    margin-top: 20px;
    content: "box::after"; /* must exist*/
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
    padding: 10px 20px 15px 5px;

    border-width: 10px;
    border-style: dashed;
    border-color: white;
}
