* {
    padding: 0;
    margin: 0;
}

.box {
    background-color: orange;
    height: 100px;

    /* text-align: center;  */
    /* can be inherited */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */

}

h3 {
    /* line-height: 100px;  */
    /* can be inherited too */
    /* margin: auto; */
    margin: auto;
    position: relative;
}

h3::after {
    position: absolute;

    content: "";
    border-left: 2px solid #333;
    left: -5px;
    height: 20px;

    top: 50%;
    transform: translateY(-50%);
}