.box {
    width: 50%;
    height: 100px;
    background-color: blanchedalmond;
}

h1:hover {
    font: italic;
    color: green;
}

li:first-child {
    color: pink;
}

li:last-child {
    color: blue;
}

.box:hover {
    background-color: black;
}

.box:active {
    background-color: brown;
}