* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

#main {
    min-height: 2000px;
}

#header {
    position: fixed;
    width: 100%;
    height: 46px;
    background-color: #000 !important;
}

#slider {
    min-height: 500px;
    background-color: white;
}

#content {

}

#footer {

}

#nav {
    display: inline-block;
}

#nav li a {
    text-decoration: none;
    color: white;
    line-height: 46px;
    padding: 0 24px;
}

#nav .subnav a{
    display: block;
    color: black;
    line-height: 38px;
    padding-left: 16px;
}

#nav > li {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

#nav .subnav {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    min-width: 160px;
}

#nav li:hover > a {
    display: block;
    color: #000;
    background-color: grey;
}
 
#nav li:hover .subnav {
    display: block;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-button .search-icon {
    line-height: 46px;
    padding: 0 21px;
}

#header .search-button:hover {
    background-color: rgb(255, 68, 0);
    cursor: pointer;
}

#header .search-button {
    color: #fff;
    font-size: 20px;
    float: right;
}