* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

.text-white {
    color: #fff !important;
}

.clear {
    clear: both;
}

#main {
    min-height: 2000px;
}

#header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 46px;
    background-color: #000 !important;
    z-index: 1;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/web-the-band/assets/img/slider1.jpg') top center / cover no-repeat;
    position: relative;
}

#content {

}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .content-section .section-heading,
#content .content-section .section-sub-heading{
    text-align: center;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .about {
    text-align: justify;
    margin: 15px;
    line-height: 1.6;
}

#content .member-item {
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin: 15px;
    width: 152px;
    /* text-align: center; */
    border-radius: 4px;
}

#content .members-list {
    margin: 32px 0;
    /* overflow: hidden; */
}

.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style-type: none;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 4px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 22px;
    color: #fff;
    background-color: #000;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -2px;
}

#footer {

}

#nav {
    display: inline-block;
}

#nav li a {
    text-decoration: none;
    color: white;
    line-height: 46px;
    padding: 0 24px;
}

#nav .subnav a{
    display: block;
    color: black;
    line-height: 38px;
    padding-left: 16px;
}

#nav > li {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

#nav .subnav {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    min-width: 160px;
}

#nav li:hover > a {
    display: block;
    color: #000;
    background-color: grey;
}
 
#nav li:hover .subnav {
    display: block;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-button .search-icon {
    line-height: 46px;
    padding: 0 21px;
}

#header .search-button:hover {
    background-color: rgb(255, 68, 0);
    cursor: pointer;
}

#header .search-button {
    color: #fff;
    font-size: 20px;
    float: right;
}

#slider .text-content {
    position: absolute;
    color: white;

    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    bottom: 46px;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

